<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/20495fb9-fe0f-45f3-9a6c-447cde999c0e/resourcegroups/signalromm/providers/Microsoft.Web/sites/SignalRTest20230817130516</ResourceId>
    <ResourceGroup>signalromm</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://signalrtest20230817130516.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8b885bf4-fe4f-4983-b1a5-12fd4975bcaa</ProjectGuid>
    <PublishUrl>https://signalrtest20230817130516.scm.azurewebsites.net/</PublishUrl>
    <UserName>$SignalRTest20230817130516</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>